{include file="common/header" title="个性化" test='喜欢的人'/}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1>ThinkPHP5从入门到努力</h1>
                <p>每天晚上10点左右更新，节假日除外。</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="http://www.kancloud.cn/liuzhen153/tp5-demo" role="button">去看看</a>
                </p>
                {$name}<br/>

            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
{include file="common/footer"/}