<!DOCTYPE html>
<html lang="en">
<link href="static/bootstrap.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
                邮件群发测试
<div>
    <form action="setMail" method="post">
        <table>
            <tr>
                <td>
                    <input name="Email1" value="15328628@qq.com" />
                    <input name="Email2" value="6969823@qq.com" />
                    <input name="Email3" value="2407181194@qq.com" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="发送"/>
                </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>