{include file="common/header" title="易游内部系统" test='易游内部系统'/}
        <style>
            #row1{
                background-color: #006666;
            }
            #row2{
                background-color: #2E5CD5;
            }
            #row3{
                background-color: #977964;
            }
        </style>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                <p v-html="message"></p>
            </div>
            <div class="col-xl-1"></div>
        </div>
    <form action="{:url('setValue')}" method="post">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                <input id="line"  name="line" value="">线条数
                <br/>
                <input id="bgColor" name="bgColor" value="">背景色
                <input id="other" name="bgColor" value="">其它
            </div>
            <div class="col-xl-1"></div>
            <button class="but" type="submit">提交</button>
        </div>
    </form>
<script>
    var exampleData = {
        // 这是我们的Model
        message :'{$data.title}'
    }

    /**创建一个 Vue 实例或 "ViewModel"
     * 它连接 View 与 Model
     * */
    new Vue({
        el:'#app',
        data: exampleData
    });

</script>
<!--<script src="__PUBLIC__/index/h5email.js"></script>-->
{include file="common/footer"/}