{include file="common/header" title="易游内部系统" test='易游内部系统'/}
        <style>
            #row1{
                background-color: #006666;
            }
            #row2{
                background-color: #2E5CD5;
            }
            #row3{
                background-color: #977964;
            }
        </style>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                <p v-html="message"></p>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row" id="row2">
            <form action="">
                <div class="col-xl-1"></div>
                <div class="col-xl-10">
                    <input name="lineNum" value="">线条数
                    <input name="">
                </div>
                <div class="col-xl-1"></div>
            </form>
        </div>
<script>
    var exampleData = {
        // 这是我们的Model
        message :'{$data.title}'
    }

    /**创建一个 Vue 实例或 "ViewModel"
     * 它连接 View 与 Model
     * */
    new Vue({
        el:'#app',
        data: exampleData
    });

</script>
<!--<script src="__PUBLIC__/index/h5email.js"></script>-->
{include file="common/footer"/}